	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2018 10:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-wallet:before { content: "\f100"; }
.flaticon-002-store:before { content: "\f101"; }
.flaticon-003-shopping-cart:before { content: "\f102"; }
.flaticon-004-bag-1:before { content: "\f103"; }
.flaticon-005-shoes:before { content: "\f104"; }
.flaticon-006-shirt:before { content: "\f105"; }
.flaticon-007-signal:before { content: "\f106"; }
.flaticon-008-search:before { content: "\f107"; }
.flaticon-009-receipt:before { content: "\f108"; }
.flaticon-010-megaphone:before { content: "\f109"; }
.flaticon-011-tag:before { content: "\f10a"; }
.flaticon-012-premium:before { content: "\f10b"; }
.flaticon-013-pants:before { content: "\f10c"; }
.flaticon-014-online-shop:before { content: "\f10d"; }
.flaticon-015-shopping-list:before { content: "\f10e"; }
.flaticon-016-online-store:before { content: "\f10f"; }
.flaticon-017-online-payment:before { content: "\f110"; }
.flaticon-018-location:before { content: "\f111"; }
.flaticon-019-lipstick:before { content: "\f112"; }
.flaticon-020-high-heels:before { content: "\f113"; }
.flaticon-021-hanger:before { content: "\f114"; }
.flaticon-022-thumbs-up:before { content: "\f115"; }
.flaticon-023-world:before { content: "\f116"; }
.flaticon-024-glasses:before { content: "\f117"; }
.flaticon-025-voucher:before { content: "\f118"; }
.flaticon-026-gift-box:before { content: "\f119"; }
.flaticon-027-dress:before { content: "\f11a"; }
.flaticon-028-discount:before { content: "\f11b"; }
.flaticon-029-truck:before { content: "\f11c"; }
.flaticon-030-customer-service:before { content: "\f11d"; }
.flaticon-031-credit-card:before { content: "\f11e"; }
.flaticon-032-cash-register:before { content: "\f11f"; }
.flaticon-033-cash:before { content: "\f120"; }
.flaticon-034-basket:before { content: "\f121"; }
.flaticon-035-barcode:before { content: "\f122"; }
.flaticon-036-bag:before { content: "\f123"; }